[Unit]
Description=Run Surveil investment signal extraction every 10 minutes

[Timer]
OnActiveSec=8min
OnUnitActiveSec=10min
Persistent=true
Unit=surveil-signals-extract.service

[Install]
WantedBy=timers.target
